* {
    padding: 0;
    margin: 0;
}

#container {
    width: 850px;
    background-image: url("../img/bj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    color: white;
}

h1 {
    background-image: linear-gradient(to right, orange, purple);
    background-clip: text;
    color: transparent;
    font-size: 30px;
}

.box-text {
    fill: url(#SVGID_1_);
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

svg {
    position: absolute;
}

img {
    width: 40px;
    height: 40px;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    margin-top: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box .children-box {
    padding: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    align-items: center;
}

.left {
    padding: 5px;
}

.right {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.right span:nth-child(2) {
    margin-top: 5px;
    font-size: 12px;
    text-align: left;
    color: rgb(210, 204, 204);
}