<!--
 * @Author: uixmsi
 * @Date: 2022-10-08 16:18:41
 * @LastEditTime: 2022-10-08 16:36:52
 * @LastEditors: uixmsi
 * @Description: 
 * @FilePath: \Yunzai-Bot\plugins\qianyu-plugin\resources\common\layout\default.html
 * 版权声明
-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="#" />
  <link rel="preload" href="{{_res_path}}common/font/HYWH-65W.woff" as="font" type="font/woff">
  <link rel="preload" href="{{_res_path}}common/font/NZBZ.woff" as="font" type="font/woff">
  <link rel="preload" href="{{_res_path}}common/font/tttgbnumber.woff" as="font" type="font/woff">
  <link rel="stylesheet" type="text/css" href="{{_res_path}}common/common.css" />
  <title>qianyu-plugin</title>
  {{block 'css'}}
  {{/block}}
</head>

<body>
  <div class="container" id="container">
    {{block 'main'}}{{/block}}
  </div>
</body>

</html>